{% extends "my-bootstrap.html" %}
{% block title %}
{{super()}}
To-Do
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="{{url_for('static', filename='img/brand.png')}}" alt="" width="30" height="30" class="d-inline-block align-text-top">
      To-Do
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse me-auto" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
        {%if not current_user.is_authenticated: %}
        <li class="nav-item">
          <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#registrationModal"><i class="fas fa-file-invoice"></i> Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fas fa-sign-in-alt"></i> Login</a>
        </li>
        {% else: %}
        <li class="nav-item">
          <a class="nav-link" href="#" data-bs-toggle="modal"><i class="fas fa-user-circle"></i> {{current_user.email}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('logout')}}"><i class="fas fa-sign-out-alt"></i> Logout</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('new')}}"><i class="fa fa-plus"></i> New List </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
{% block content %}
{{super()}}
{%if not current_user.is_authenticated: %}
{%include 'modals.html'%}
{%endif%}
{%include 'userModals.html'%}
{% endblock %}
{% block scripts %}

  <div id="cofee-button" class="fixed-bottom my-4 mx-2 ">
    <a  href="https://www.buymeacoffee.com/todo" target="_blank" i><img class="shadow rounded-pill" src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee" style="height: 60px !important;width: 217px !important;" ></a>
  </div>



{{super()}}
<script src="https://cdn.jsdelivr.net/gh/RubaXa/Sortable/Sortable.min.js"></script>
<script src="{{url_for('.static', filename='myscript.js')}}"></script>

{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='mystyle.css')}}">
<script src="https://kit.fontawesome.com/45dfc899a2.js" crossorigin="anonymous"></script>
{% endblock %}
